<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hcyclone.zen">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:backupAgent="BackupAgent"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAImGX0I65C3fjyLljJxmxs1iBTmPmVTcWBAwg75w"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4142226708429553~1657176734"/>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ChallengeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".view.PrivacyPolicyActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".service.AlarmReceiver">
        </receiver>

        <receiver android:name=".service.BootReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.FirebaseService">
        </service>

    </application>

</manifest>